{% extends 'ads/base.html' %}
{% load i18n %}


{% block title %}{% trans "Письмо отправлено - Бартерная система" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-0">{% trans "Письмо отправлено" %}</h2>
                    <hr>
                    <p class="lead">{% trans "Мы отправили вам инструкции по сбросу пароля на указанный email." %}</p>
                    <p>{% trans "Если вы не получили письмо, убедитесь, что вы ввели правильный адрес email и проверьте папку 'Спам'." %}</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Вернуться к входу" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 